.App {
  text-align: center;
}

button {
  margin: 0.1rem 2rem;
  padding: 0.2rem;
  border: 3px solid rgb(14, 54, 14);
  border-radius: 5px;
  color: rgb(11, 103, 126);
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
}
